*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

 html{
  scroll-behavior: smooth;
}

body{
  font-family: "arial", sans-serif;
  color: #fff;
  background-color: black;
}

/*Navbar Star*/

.navbar{
  align-items: center;
  justify-content: center;
  display: flex;
  height: 80px;
  width: 100%;
  background-color: black;
  border-bottom: 1px solid rgb(0, 0, 254 );
  position: fixed;
  z-index: 999;
  }

.navbar .navbar-menu{
  display: flex;
  width: 80%;
  justify-content: space-evenly;
}


.navbar .navbar-menu .menu a{
  color: white;
  font-size: 1.4rem;
  text-decoration: none;
  transition: color 0.15s;
  font-weight: bold;
  padding: 4px 12px;
  cursor: pointer;
  border-radius: 16px;
  transition: background-color 0.15s;
}

.navbar .navbar-menu .menu a:hover{
  color: black;
  background-color: white;
}
/*Header Start*/
.header {
  min-height: 120vh;
  display: flex;
  align-items: center;
  background-image: url("img/1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  justify-content: center;
}

.header::after{
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 30%;
  bottom: 0;
  background: linear-gradient(0deg, rgba(1, 1, 3, 1) 8% ,rgba(255, 255, 255, 0) 50%);
}

.header .identitas{
text-align: center;
}

.header .identitas img{
  margin-top: -200px;
  width: 60%;
  border-radius: 50%;
}

.header .identitas .greeting-1{
  margin-top: 10px;
  font-size: 3rem;
}

.header .identitas .greeting-2,
.about-detail,
.hobies-detail, .porto-detail{
font-size: 1.5rem;
}

.header .identitas .my-name, 
.about-me,
.my-hobies, .porto-title{
font-size: 4.5rem;
}

.my-name{
  font-weight: bolder;
}

/*Header End*/

/*About Start*/
.about{
  min-height: 70vh;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 3rem;
}
.hobies::after{
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 30%;
  top: 0;
  background: linear-gradient(180deg, rgba(1, 1, 3, 1) 8% ,rgba(255, 255, 255, 0) 50%);
}


.about .about-item{
  margin: 0 20%;
  text-align: center;
}

.about .about-detail{
  margin-top: 1rem;
}

/*About End*/

/*Hobies Start*/

.hobies{
  display: flex;
  justify-content: center;
  padding-top: 400px;
  background-image: url(img/2.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.hobies-content
,.porto-content{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center; 
  justify-content: center;
  width: 90%;
  margin-bottom: 120px;
}

.hobies-text
,.porto-text{
  width: 75%;
  margin-bottom: 90px;
}

.hobies-detail,.porto-detail{
  margin-top: 35px;
}
.container{
  width: 70%;
  margin: 10px auto;
  border: 5px solid white;
  overflow: auto;
  border-bottom: 150p;
}
.jumbo{
  width: 100%;
}

.thumbnail{
  display: flex;
  justify-content: space-around;
}

.thumb{
  width: 15rem;
  border: 2px solid white;
  box-sizing: border-box;
}

.thumb:hover{
  opacity: 0.5;
  cursor: pointer;
}


@keyframes fadeIn {
  to{
    opacity: 1;
  }
}

.fade{
  opacity: 0;
  animation: fadeIn 0.5s forwards;
}

.active{
  opacity: 0.5;
}


/*Portofolio Start*/

.porto {
  padding-top: 120px;
  display: flex;
  align-items: center;
  background-image: url("img/3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  justify-content: center;
}


.slider{
  width: 1200px;
  height: 800px;
  border-radius: 10px;
  overflow: hidden;
}

.slides{
  width: 500%;
  height: 800px;
  display: flex;
}

.slides input{
  display: none;
}

.slide{
  width: 20%;
  transition: 2s;
}

.slide img{
  width: 1200px;
  height: 800px;
}


/*css for manual slide navigation*/

.navigation-manual{
  position: absolute;
  width: 1200px;
  margin-top: -40px;
  display: flex;
  justify-content: center;
}

.manual-btn{
  border: 2px solid #40d3dc;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.manual-btn:not(:last-child){
  margin-right: 40px;
}

.manual-btn:hover{
  background: #40d3dc;
}

#radio1:checked ~.first{
  margin-left: 0;
}

#radio2:checked ~.first{
  margin-left: -20%;
}

#radio3:checked ~.first{
  margin-left: -40%;
}

#radio4:checked ~.first{
  margin-left: -60%;
}


/*css for automatic slide*/

.navigation-auto{
  position: absolute;
  display: flex;
  width: 1200px;
  justify-content: center ;
  margin-top: 760px;
}

.navigation-auto div{
  border: 2px solid #40d3dc;
  padding: 5px;
  border-radius: 10px;
  transition: 1s;
}


.navigation-auto div:not(:last-child){
  margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
  background: #40d3dc;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
  background: #40d3dc;
}

#radio3:checked ~ .navigation-auto .auto-btn3{
  background: #40d3dc;
}

#radio4:checked ~ .navigation-auto .auto-btn4{
  background: #40d3dc;
}

/*media Query*/

/*handphone*/
@media (max-width: 590px){
  .header .identitas .my-name{
    font-size: 2.8rem;
  }

  .header .identitas img{
  margin-top: -300px;
  width: 80%;
  border-radius: 50%;
}
}
